.card  {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 15px;
  display: block;
  height: 100%;
  width: 373px;
  padding: 18px 18px 10px 10px;
}
.cardTag {
    padding: 14px;
    background-color: #001e3c;
    max-width: 690px;
    direction: ltr;
    border-radius: 10px;
    border: 1px solid rgb(19, 47, 76);
    overflow: auto;
}
.link-hover {
  background-color: transparent;
  border: 0px;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 0px 0px 0px -10px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  min-width: 64px;
  max-width: 170px;
  border-radius: 10px;
}
.link-hover:hover {
  background-color: #203a56;
}
